.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.vroot {
  margin-top: 15px;
}

.hroot {
  margin-top: 15px;
}

.hitem {
  display: inline-block;
  width: 25px;
  height: 25px;
  text-align: center;
  border-radius: 3px;
  background-color: rgba(255, 224, 229, 0.377);
}

.hitem:not(:first-child) {
  margin-left: 5px;
}

.vitem {
  position: relative;
  padding: 10px;
  font-size: 13px;
  border-radius: 3px;
  background-color: rgb(163, 96, 194);
  color: rgb(255, 255, 255);
  box-shadow: 0 1px 1px 0px black;
}

.vitem:not(:first-child) {
  margin-top: 10px;
}

.shuffle {
  border-radius: 3px;
  border: none;
  transition: 300ms;
  background-color: rgba(248, 90, 17, 0.685);
  color: white;
  padding: 10px 25px;
  cursor: pointer;
}

.shuffle:not(:first-child) {
  margin-left: 15px;
}

.shuffle:hover {
  color: black;
  background-color: white;
  box-shadow: 0 0 5px 1px rgb(243, 87, 87);
}

.rect-list {
  padding: 15px;
}

.rect {
  height: 100px;
  margin-top: 15px;
  z-index: 0;
}

.rect.first {
  background-color: aquamarine;
}

.rect.second {
  background-color: red;
}

.rect.third {
  background-color: yellow;
}

.expanded {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
}
