.planets {
  box-sizing: border-box;
  width: 362px;
  border: 1px solid red;
}

.planets .outer,
.planets--f .outer {
  display: inline-block;
  padding: 10px;
}

.planets--f {
  border: 1px solid red;
  width: 120px;
}

.inner {
  background-color: black;
  height: 100px;
  width: 100px;
}
